<h2>管理者ログイン</h2>

<%= form_with(model: resource, url: session_path(resource_name)) do |f| %>
<table>
  <tr>
    <th>メールアドレス</th>
    <th>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com" %>
      </div>
    </th>
  </tr>
  <tr>
    <th>パスワード</th>
    <th>
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </th>
  </tr>
  <tr>
    <th></th>
    <th>
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    </th>
  </tr>
</table>
<% end %>


