<div class="col-md-3">
  <table class="table table-bordered genre-search">
    <thead>
      <tr>
        <td>ジャンル検索</td>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
      <tr>
        <th><%= link_to genre.name, items_path(genre_id: genre.id) %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>