/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.size{
 color:#FFF;
}

.position{
  margin: 20px 90px;
}

table.show th{
  text-align: center;
}

textarea{
  border-radius: 4px;
}

.genre p{
  display: inline-block;
  margin: 30px;
}

table.genre-list th{
  background-color: #808080;
}
td.genre-name{
  width: 280px;
}

th.list-button{
  white-space: nowrap;
}

table.order-show th{
  background-color: #808080;
}

table.order th, td{
  white-space: nowrap;
}