/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.size{
 color:#FFF;
}

.table td{
  vertical-align: unset;
}

.table-bordered th{
  border: 1px solid #212529;
}

.table-bordered td{
  border: 1px solid #212529;
}

.position{
  margin: 20px 90px;
}

table.show th{
  text-align: center;
}

textarea{
  border-radius: 4px;
}

.genre p{
  display: inline-block;
  margin: 30px;
}

table.genre-list th{
  background-color: #808080;
}
td.genre-name{
  width: 280px;
}


table.order-show th{
  background-color: #808080;
}

table th, td{
  white-space: nowrap;
}

.log-in{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.log-in>li{
  margin: 5px;
  width: calc(50% - 10px);
}

.admin-li{
  padding-left: 300px;
}

.form{
  width: 400px;
  height: 42px;
}

.button-size{
  margin-top: 40px;
  width: 150px;
  padding: 10px;
}

.pagination{
  margin: 20px auto 0;
  width: 50%;
  display: flex;
  justify-content: center;
}

.pagination span{
  text-align: center;
  width: 50px;
}

.pagination span:hover{
  background-color:#f3f3f3;
}

.pagination span a{
  display: block;
  width: 100%;
  height: 100%;
}
.pagination span a:hover{
  background-color: #f3f3f3;
}

table.customer-show th{
  border: 0px none;
}

table.order-status td{
  border: 0px none;
}
table.order-status th{
  border: 0px none;
}

table.genre-search{
  border: 1px solid black;
  margin-top: 10px;
}
table.genre-search th{
  white-space: nowrap;
  border: 0px none;
}

.welcom>p{
  width: 900px;
  height: 100px;
  padding: 30px 30px 30px 150px;
  padding-left:1em;
  text-indent:-1em;
  font-size: 30px;
  margin-left: 150px;
}

.text-left{
  padding-left: 40px;
}


.customer-top{
  display: flex;
  padding-top: 120px;
}

.top-item{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.new{
  position: absolute;
  left: 290px;
  top: 300px;
  width: 80pxpx;
}

.link{
  text-align: right;
}

.items-each{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.items-each>p{
  padding: 0px;
}

.items-index{
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
}

span{
  font-size: 25px;
}

.items-show>h3{
  padding: 20px;
}

.items-show>h4{
  padding: 20px;
}

.items-show>p{
  padding: 20px;
}

.add-to-cart{
  display: flex;
}

.select-box{
  width: 150px;
  height: 36px;
  text-align: center;
}

.cart{
  font-size: 25px;
}

table.cart-table>td{
  display: flex;
  align: center;
  valign: center;
}

.cart-row{
  margin-top: 50px;
  margin-bottom: 48px;
}

.cart-item-table{
  margin-bottom: 25px;
  margin-top: 25px;
}

.payment{
  font-size: 20px;
  font-weight: 800;
}
.payment-method>ul{
  list-style-type: none;
}

.addressee>ul{
  list-style-type: none;
}
.address{
  font-size: 20px;
  font-weight: 800;
}

.new-address>ul{
  list-style-type: none;
  display: flex;
}

li{
  font-weight: 500;
  margin: 3px;
}

.address-form{
  padding-left: 10px;
}

.address-form-1{
  padding-left: 170px;
}

.address-form-2{
  padding-left: 170px;
}


.check-col{
  margin-bottom: 25px;
  margin-top: 25px;
}

table.check-table>td{
  display: flex;
  align: center;
  valign: center;
}

table.table.table-bordered.check-sum {
  margin-top: 25px;
}

.check-method>ul{
  list-style-type: none;
  display: flex;
}


.delivery-address{
  font-size: 20px;
  font-weight: 700;
  margin-right: 25px;
}

.paypay{
  font-size: 20px;
  font-weight: 700;
  margin-right: 25px;
}

.check{
  background-color: #C0C0C0;
}

.thead{
  background-color: #C0C0C0;
}

.col-md-12.complete{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrations{
  display: flex;
  width: 300px;
}

.info-edit{
  margin-left: 100px;
}

.col-md-6.my-page{
  margin-right: 500px;
}

.about-me{
  font-size: 25px;
  font-weight: 700;
  margin-left: 100px;
  background-color: #C0C0C0;
  width: 125px;
}

.my-edit{
  display: flex;
  margin-top: 50px;
}

.order-history{
  display: flex;
}

.delivery-index{
  margin-left: 100px;
}

.history-index{
  margin-left: 80px;
}

.order{
  font-size: 20px;
  font-weight: 700;
}

.member-edit{
  display: flex;
  justify-content: space-around;
}

.member-edit>p{
  margin-left: 20px;
}

.unsubscribe-text{
  text-align: center;
}

.unsubscribe{
  display: flex;
  justify-content: space-around;
}

.reary{
  margin-bottom: 30px;
}

.col-md-12.bye{
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.unsubscribe-button{
  margin-top: 50px;
}

.address-registrations>ul{
  list-style-type: none;
  display: flex;
}

.address-registrations-form{
  padding-left: 10px;
}

.address-registrations-form-1{
  padding-left: 170px;
}

.address-registrations-form-2{
  padding-left: 170px;
}

.address-registrations-form-3{
  padding-left: 345px;
}

.address-registrations-edit>ul{
  list-style-type: none;
  display: flex;
}

.address-registrations-edit-1{
  padding-left: 10px;
}

.address-registrations-edit-2{
  padding-left: 170px;
}

.address-registrations-edit-3{
  padding-left: 170px;
}

.address-registrations-edit-4{
  padding-left: 345px;
}

table.order-details-index th{
  text-align: center;
  vertical-align: middle;
}

table.order-content-table{
  width: 900px;
}

.about-text{
  text-align: center;
  vertical-align: middle;
  margin-top: 100px;
}

.about{
  font-size: 150px;
}

.input{
  margin-left: 17px;
}

.kana-button{
  width: 190px;
}
.kana{
  font-size: 20px;
  text-indent: 1em;
}

.cus-log{
  margin-left: 170px;
}

.log-text{
  font-size: 15px;
  background-color: #C0C0C0;
}

.kana-log{
  font-size: 20px;
  text-indent: 5em;
}

.not-log{
  margin-top: 50px;
}

.search-form{
  position: absolute;
  right: 10px;
  top: 80px;
}

.item-image{
  padding-top: 30px;
}

.flash{
  font-size: 30px;
  color: #F00;
}

.error_message{
  color: #F00;
}

.flash-withdraw{
  font-size: 25px;
  color: #FF82B2;
}